<div class="container">
    <div class="row mt-2">
        <div class="card filters-wrap mt-2">
            <div class="card-body">
                <h5 class="card-title">Filters</h5>
                <form [formGroup]="filtersForm">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            Title
                            <input  formControlName="Title" class="searchbar form-control" type="text" placeholder="search title..." (input)="filterMovies()">
                        </div>
                        <div class="col-6">
                            Release year
                            <input  formControlName="Release_Year" class="searchbar form-control" type="number" placeholder="search year..." (input)="filterMovies()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let movie of filteredMovies">
        <div class="row">
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <div class="row d-flex justify-content-between align-items-center mt-3">
                        <div class="col-3">Release date: {{movie.release_date}}</div>
                        <div class="col-3">Budget: {{movie.budget | budget}}</div>
                        <div class="col-3">Duration: {{movie.duration | duration}}</div>
                        <div class="col-3">
                            <button class="btn btn-outline-primary w-100" (click)="goToMovieDetails(movie.id)">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
